


<footer id="footer">
        <div class="container-fluid">    
        <h3>Integrify.net</h3><p>Because it's about bloody time Australians were served good internet.</p>
        <div class="row">
            <div class="col-sm-3">
                <h5>Home</h5>
                <h5>About</h5>
                <h5>Media</h5>
                <h5>FAQ</h5>
                
            
            </div>
            <div class="col-sm-6"> 
                <h5>Jobs</h5>
                <h5>Bank Account</h5>
                <h5>Contact</h5>
                <h5>Privacy Policy</h5>           
 
            </div>
            <div class="col-sm-3">
            <div class="well">
            <p>Some text..</p>
            </div>
            <div class="well">
            <p>Some text..</p>
            </div>
            </div>
        </div>
        </div><br>    
        
        
        
        <div>
            <div class="copyright">
                <div><a href="https://bitbucket.org/tommycp2/integrify-community-internet"><img src="../assets/images/bitbucket.png" ></a></div>
                <div><a href="http://onepurseoneplanet.org.au/" target="_blank">A OnePurseOnePlanet Project</a></div>
                <div>© 2017 Integrify.net, Creative Commons Attribution 3.0 Unported License.</div>
            </div>
        </div>
</footer>