<!-- This timeline code was inspired by: https://etherapis.io and taken from: http://bootsnipp.com/snippets/PA2gX -->
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="well well-sm col-md-4" style="margin: 0;">
            <h3 style="text-align: center; margin: 0;">Development Progress</h3>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <ul class="timeline">




                        <li>
                            <div class="timeline-badge primary"><a title="11 hours ago via Twitter"><i class="glyphicon glyphicon-time invert" id=""></i></a></div>
                            <div class="timeline-panel">
                                <div class="timeline-header">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                              <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="col-xs-8">
                                            Proof of Concept Transparent Banking System Created <br>
                                            <a>21st September 2016 </a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <img src="../../assets/images/transparency.jpg" alt="fibre optics" width="100%" height="100%">
                                </div>

                                <div class="timeline-body">
                                    <p>The way we are going to be competitive with larger internet service providers, is the bank account that runs the Internet in each community will be transparent via this website portal.</p>
                                </div>
                            </div>
                        </li>


                        <li class="timeline-inverted">
                            <div class="timeline-badge primary"><a title="11 hours ago via Twitter"><i class="glyphicon glyphicon-time invert" id=""></i></a></div>
                            <div class="timeline-panel">
                                <div class="timeline-header">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                              <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="col-xs-8">
                                            Gained access to Fibre Optic Networks Australia Wide<br>
                                            <a>26th August 2016</a>
                                        </div>
                                    </div>

                                </div>
                                <div>
                                    <img src="../../assets/images/fibreoptic.jpg" alt="fibre optics" width="100%" height="100%">
                                </div>
                                <div class="timeline-body">
                                    <p>We have gainned access to fibre optic networks Australia Wide. This allows each community to buy internet at wholsale prices and distribute it out at cost price, where everyone can see the costs via out developing transperent banking system.</p>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="timeline-badge primary"><a title="11 hours ago via Twitter"><i class="glyphicon glyphicon-time invert" id=""></i></a></div>
                            <div class="timeline-panel">
                                <div class="timeline-header">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                              <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="col-xs-8">
                                            Tom Moves to Eudlo where the internet is ADSL1 with neglected support from Telstra<br>
                                            <a>1st January 2016 </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-heading">


                                </div>
                                <div class="timeline-body">
                                    <p>Tom Miller moved to Eudlo post code 4554, and realised how the rest of Australia is basically in an Internet blackout.</p>
                                </div>
                            </div>
                        </li>




                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>





<!-- CODE I CAN USE TO ADD TO THE TIMELINE.

        <div class="container">

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="text-center"> Responsive facebook style timeline design - wsnippets.com</h2>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-time invert" title="Now" id=""></i></a></div>
                            <div class="timeline-panel">
                                <form action="update.php" method="post" role="form" enctype="multipart/form-data" class="facebook-share-box">
                                    <div class="timeline-body">
                                        <div class="share-form">
                                            <ul class="post-types">
                                                <li class="post-type">
                                                    <a class="status" id="shareType" href="#"><i class="icon icon-file"></i> Status</a>
                                                </li>
                                                <li class="post-type">
                                                    <a class="photos" id="shareType" href="#"><i class="icon icon-camera"></i> Photos</a>
                                                </li>
                                                <li class="post-type">
                                                    <a class="videos" id="shareType" href="#"><i class="icon icon-film"></i> Video</a>
                                                </li>
                                            </ul>
                                            <div class="share">
                                                <div class="arrow"></div>
                                                <div><textarea name="message" cols="40" rows="10" id="status_message" class="form-control message" style="height: 62px; overflow: hidden;" placeholder="What's on your mind ?"></textarea> </div>
                                                <div class="image hide">
                                                    <input type="file" class="form-control" name="image" id="image">
                                                </div>
                                                <div class="video hide">
                                                    <input type="text" class="form-control" placeholder="Youtube or Vimeo video URL" id="videoUrl" name="videoUrl">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline-footer clearfix">
                                        <div class="pull-right">
                                            <input type="submit" name="submit" value="Post" id="btn-share" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge primary"><a title="11 hours ago via Twitter"><i class="glyphicon glyphicon-time invert" id=""></i></a></div>
                            <div class="timeline-panel">
                                <div class="timeline-header">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <img class="img-responsive img-rounded" src="http://0.gravatar.com/avatar/43a5669f2e4d2342701ed560d453a0dd?s=50&d=&r=G">
                                        </div>
                                        <div class="col-xs-8">
                                            <a>Azhagupandian </a> shared 6 hours ago
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-heading">
                                    <div class="videowrapper">
                                        <iframe height="300" src="http://www.youtube.com/embed/IuLG6WqjOEo" frameborder="0" allowfullscreen=""></iframe>
                                    </div>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>

                                </div>

                                <div class="timeline-footer">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="http://0.gravatar.com/avatar/43a5669f2e4d2342701ed560d453a0dd?s=50&d=&r=G" />
                                        </a>
                                        <div class="media-body">
                                            <p>Looking cool</p>
                                            <a href="#">January 19 at 8:15pm</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="http://0.gravatar.com/avatar/43a5669f2e4d2342701ed560d453a0dd?s=50&d=&r=G" />
                                        </a>
                                        <div class="media-body">Looking cool </div>
                                    </div>
                                    <hr>
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="http://0.gravatar.com/avatar/43a5669f2e4d2342701ed560d453a0dd?s=50&d=&r=G" />
                                        </a>
                                        <div class="media-body">Looking cool </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge primary"><a title="11 hours ago via Twitter"><i class="glyphicon glyphicon-time invert" id=""></i></a></div>
                            <div class="timeline-panel">
                                <div class="timeline-header">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <img class="img-responsive img-rounded" src="http://0.gravatar.com/avatar/43a5669f2e4d2342701ed560d453a0dd?s=50&d=&r=G">
                                        </div>
                                        <div class="col-xs-8">
                                            <a>Azhagupandian </a> shared 6 hours ago
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-heading">
                                    <img class="img-responsive" src="img/img-430-135.png" />
                                    <div class="timeline-images">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <img src="img/img-200.png" class="img-thumbnail img-responsive" />
                                            </div>
                                            <div class="col-xs-4">
                                                <img src="img/img1-200.png" class="img-thumbnail img-responsive" />
                                            </div>
                                            <div class="col-xs-4">
                                                <img src="img/img-200.png" class="img-thumbnail img-responsive" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



-->