<app-nav>Loading...</app-nav>
<br>
<br>
<br>
<br>

<h1>Hello</h1>
<button class="btn-sm btn-success" (click)="login()">Login</button>

<button class="btn-sm btn-warning" (click)="logout()">Logout</button>

<app-timeline>Loading...</app-timeline>  

<app-footer>Loading...</app-footer>
